*{
    margin: 0;
    width: 100%;
    font-family: "TCCC-UnityText Regular";
}
.mainbar{
    height: 76px;
    background-color: white;
    display: flex;
    margin: 0;
    justify-content: center;
    position: fixed;
    z-index: 3;
}
.logo{
    height: 100%;
    width: 10%;
    margin-left: 3%;
}
.logimg{
    height: 100%;
    width: 100%;
}
.features{
    height: 100%;
    width: 80%;
    background-color: white;
    margin: 0% 1% 0% 2% ;
    display: flex;
    cursor: pointer;
}
.course1, .study1, .acadamic1, .roadmap1, .library1, .scholars1, .college1, .work1 {
width: 12%;
height: 100%;
font-family: "TCCC-UnityText Regular";
text-align: center;
display: flex;
justify-content: center; 
align-items: center;
}
.course1:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.study1:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.acadamic1:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.roadmap1:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.library1:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.college1:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.work1:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.scholars1:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.collabrate{
    height: 100%;
    width: 10%;
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: center; 
    text-align: center;
    align-items: center;
    margin-right: 3%;
    cursor: pointer;
}
.collabrate:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.line{
    width: 100%;
    height: 79px;
    background-color: red;
    z-index: 2;
    position: fixed;

}
.fa-solid fa-users{
   margin: 5px;
}
.navbar{
    height: 79px;
    background-color: rgb(7, 229, 7);
    z-index: 1;
}
.slide{
    background-image:url(7171.webp);
    height: 350px;
    width: 100%;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.course{
    height: 330px;
    background-color: white;
}
.content{
    width: 100%;
    height: 297px;
    background-color:  white;
    display: flex;
}
.cboxes{
    height: 100%;
    width: 95%;
    background-color: white;
    display: flex;
    gap: 10px;
    margin-left: 20px;
}
.cboxall{
    height: 100%;
    width: 5%;
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
}
.cclick{
    height: 60%;
    width: 100%;
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
}
.cclick:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.imgc:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.box1, .box2, .box3, .box4, .box5{
    height: 100%;
    width: 20%;
    border-radius: 30px;
    background-color: lightgreen;
}
.imgc{
 width: 100%;
 height: 100%;
 border-radius: 30px;
}
.couname, .stuname, .acaname, .rmname, .libname, .schname, .collname, .workname, .lastname{
    height: 33px;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 25px;
    width: 11%;
    position:static;
    margin: 8px;
    background-color: black;
    color: white;
}
.study{
    height: 450px;
    background-color: white;
}
.content1{
    width: 100%;
    height: 417px;
    background-color:  white;
    display: flex;
    text-align: center;
    justify-content: center; 
    align-items: center;
}
.sboxes{
    height: 80%;
    width: 80%;
    background-color: white;
    gap: 30px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}
.sbox1, .sbox2, .sbox3{
    height: 100%;
    width: 33.3%;
    border-radius: 30px;
    background-color: lightgreen;
}
.acadamic{
    height: 400px;
    background-color:white;
}
.content2{
    height: 367px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    
}
.aboxes{
    height: 80%;
    width: 80%;
    background-color: white;
    display: flex;
    gap: 10px;
    margin-left: 20px;
}
.aboxall{
    height: 80%;
    width: 5%;
    background-color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
}
.aboxall:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.abox1, .abox2, .abox3, .abox4{
    height: 100%;
    width: 25%;
    border-radius: 30px;
    background-color: lightgreen;
}
.roadmap{
    height: 650px;
    background-color: white;
}
.content3{
    height: 617px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}
.rboxes{
    height: 94%;
    width: 100%;
    background-color: rgb(23, 14, 188);
    display: flex;
}
.rbox1, .rbox2{
    height: 100%;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.r1,.r3,.r5,.r7,.r9{
    background-color: lightgreen;
    display: flex;
    width: 100%;
    height: 20%;
}
.r0,.r2,.r4,.r6,.r8{
    background-color: green;
    display: flex;
    width: 100%;
    height: 20%;
}
.rimg{
    height: 100%;
    width: 30%;
}
.rr{
    margin-left: 15px;
    display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}
.r1:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.r2:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.r3:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.r4:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.r5:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.r6:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.r7:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.r8:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.r9:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.r0:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.library{
    height: 550px;
    background-color: white;
}
.content4{
    width: 100%;
    height: 517px;
    background-color: aqua;
}
.scholars{
    height: 670px;
    background-color:white;
}
.content5{
    width: 100%;
    height: 617px;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.scboxes{
    width: 90%;
    height: 95%;
    background-color: white;
    display: flex;
    gap: 40px;
}
.scbox1, .scbox2, .scbox3, .scbox4{
    height: 100%;
    width: 25%;
    border-radius: 32px;
    background-color: rgb(8, 56, 8);
    display: flex;
    flex-direction: column;  
}
.simg{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30%;
    width: 100%;
}





.college{
    height: 600px;
    background-color: white;
}
.content6{
    width: 100%;
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.ccboxes{
    height: 95%;
    width: 95%;
    background-color: blueviolet;
    display: flex;
}
.crbox1{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: brown;
}
.crbox2{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
}
.aclick{
    height: 100%;
    width: 4%;
    background-color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.acclick{
    height: 60%;
    width: 100%;
    background-color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
}
.acclick:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.zbox1, .zbox2, .zbox3, .zbox4, .zbox5, .zbox6 {
    height: 33.3%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cw{
    height: 90%;
    width: 96%;
    display: flex;
    flex-direction: column;
}
.cname{
    width: 100%;
    height: 100%;
    background-color: red;
}
.cword{
    width: 100%;
    height: 100%;
    background-color: black;
}
.work{
    height: 450px;
    background-color: white;
}
.content7{
    height: 400px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wboxes{
    height: 98%;
    width: 90%;
    background-color: whitesmoke;
    display: flex;
    gap: 30px;
}
.job, .part{
    height: 100%;
    width: 50%;
    border-radius: 30px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid #a81a1a;
}
.last{
    height: 350px;
    background-color: black;
}
